/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #f26e59;
  --ifm-color-primary-dark: #f26e59;
  --ifm-color-primary-darker: #f26e59;
  --ifm-color-primary-darkest: #f26e59;
  --ifm-color-primary-light: #f26e59;
  --ifm-color-primary-lighter: #f26e59;
  --ifm-color-primary-lightest: #f26e59;

/*** Default 
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
***/

  --ifm-code-font-size: 95%;

}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.hero {
  background-color: #f26d59;
}

.hero__title {
  color: #ffffff
}

.button.button--secondary.button--outline:not(.button--active):not(:hover) {
  color: #ffffff;
}

.features_src-pages- {
  background-color: #f26d59;
}

.navbar.navbar--fixed-top {
  background-color: #303846;
}

.navbar__item.navbar__link {
  color: #ffffff;
}

.main-wrapper {
  background-color: #f26d59;
}

a{
  color: #ffffff;
}

article header {
  color: #000000;
}

.col .col--4 h3 {
  color: #ffffff;
}

.col .col--4 p {
  color: #ffffff;
}

.react-toggle {
  display: none;
}

.react-toggle-track {
  display: none;
}

.PortfolioTitle {
  color: white;
  font-size: 3rem;
  text-align:center;
  width: 100%;
}

.portfolios_src-pages- {
  padding: 0;
}

.row {
  padding: 0;
}

div.container4 {
    height: 10em;
    position: relative }
div.container4 p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

/* Grid Table Start */

grid-body {
  margin: 40px;
}

.grid-sidebar {
  grid-area: sidebar;
}

.grid-content {
  grid-area: content;
  position: relative;
}

.grid-header {
  grid-area: header;
}

.grid-footer {
  grid-area: footer;
}

/*
.grid-wrapper {
    display: grid;
}*/

.grid-wrapper {
	margin: 0 15%;
    grid-gap: 10px;
    grid-template-columns: 200px 200px 200px;
    grid-template-areas:
    "header  header  header"
    "sidebar content content"
    "footer  footer  footer"; 
    color: #444;
    justify-items: center;
  }

.grid-box {
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}

.grid-sidebar img {
  width: 50rem;
  height: 20rem;
}

/* Grid Table END */


/* Promo / fee table START */

table {
  background-color: #fa998a;
  border: none;
  text-align: center;
  display: table;
}


.tg td {
	background-color: #fa998a;
	border: none;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}

.tg th {
	background-color: #fa998a;
	border: none;
	overflow: hidden;
	padding: 10px 5px;
	text-align: center;
	word-break: normal;
}

.tg .tg-akna {
	background-color: #fa998a;
	border: none;
	text-align: center;
	vertical-align: top
}

.tg .tg-3pw4 {
	background-color: #fa998a;
	border: none;
	text-align: center;
	vertical-align: top
}

.tg-wrap {
  justify-items: center;
}

@media screen and (max-width: 767px) {
	.tg {
		width: auto !important;
	}
	.tg col {
		width: auto !important;
	}
	.tg-wrap {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
}

/* Promo / fee table END */

main p {
 margin: 1rem;
}

.featureTitle {
	text-align: center;
}